<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body{
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost',sans-serif;
    background: linear-gradient(to top,#281d19,#04ac5df5);
}
    </style>
</head>
<body>
    <h1 style="color: #f0e1e1;">Welcome in the new World!!!!!!!!</h1>
</body>
</html>